<!DOCTYPE html>
<html lang="en">
	<title>Cam</title>
<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<meta charset="utf-8">
		<link href="assets/css/bootstrap.css" rel="stylesheet">
		<link href="assets/css/bootstrap-responsive.css" rel="stylesheet">
		<link href="assets/css/docs.css" rel="stylesheet">
		<link href="assets/js/google-code-prettify/prettify.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width; initial-scale=1.0">
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="../content/css/main.css">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
<header>
		Welcome to WebCamPi
	</header>

	<body>
		<div class="row">
			<div class="col-lg-8">
				<h1>Camera</h1>
				<img alt="" src="../upload/preview.jpg" width="50%" height="50%"><img />
			</div>
			<div class="col-sm-12 col-lg-4">
				<div class="row" >
					Current Positions:
				{{name}}	<div class="col-sm-12 col-lg-4">
						x = {{x}}
					</div>
					<div class="col-sm-12 col-lg-4">
						y = {{y}}
					</div>
					<div class="col-sm-12  col-lg-4">
                                                <form action="/preview">
						<input type="submit"value="Preview"></input>
</form>
						<form action="/capture" method='post'>
						NAME PHOTO <input type="text" name="name">
					        <input type="submit" value="capture">
						</form>

						<form action="/move" method="post">
							X: <input type="number" name="x" min="0" max="360"> <br>
							Y: <input type="number" name="y" min="0" max="360">

						    <input type="submit" value="Set">
						</form>
					</div>
				</div>
				
				</div>
			</div>
		
		</div>
						
		<div class="row">

        <div class="col-lg-12">
				<a href="/gallery">load  gallery</a>
          				<a href="/">goto control</a>

  <h1 class="page-header">Thumbnail Gallery</h1>
        </div>
        {{image_names}}
        <hr>
        {% for image_name in image_names %}
        <div class="col-lg-3 col-md-4 col-xs-6 thumb">
            <img class="img-responsive" src=" {{url_for('send_image', filename=image_name)}}">
<h3>{{image_name}}</h3>
        </div>
        {% endfor %}
    </div>
		
		
		
	</body>
	<footer>
		<h1>Created by Joseph Abel and Nathan Dalling</h1>
	</footer>
	
	
	
	
	
	
</html>
